@model IEnumerable<Electronic_Collection.Models.Item>

@{ ViewData["Title"] = "GamesIndex"; }

<h1>GamesIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Released)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreObj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeObj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Released)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GenreObj.GenreId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TypeObj.TypeId)
    </td>
    <td>
        <a type="button" asp-action="List" asp-route-id="@item.ItemId">Add</a> |
        <a type="button" asp-action="List" asp-route-id="@item.ItemId">Like</a> |
        <a type="button" asp-action="List" asp-route-id="@item.ItemId">Favorite</a> 

    </td>
</tr>
}
    </tbody>
</table>


<a type="button" asp-action="Details" asp-controller="Collectors" class="btn btn-primary">Collector's Details</a>
<a type="button" asp-action="SearchByTitle" asp-controller="Items" class="btn btn-primary">Search By Title</a>
<a type="button" asp-action="SearchByReleaseDate" asp-controller="Items" class="btn btn-primary">Search By Release Date</a>
<a type="button" asp-action="SearchByGenre" asp-controller="Items" class="btn btn-primary">Search By Genre</a>
<a type="button" asp-action="SearchByTags" asp-controller="Items" class="btn btn-primary">Search By Tags</a>
<a type="button" asp-action="PlatformIndex" asp-controller="Items" class="btn btn-primary">Search By Platform</a>

